@charset "utf-8";

body {
    background-color: linen;
}
h1 {
    background-color: rgb(185, 185, 186); 
    font-family: 'Unlock', cursive;

}


/* tabeller */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
  border: 1px solid black;
border-collapse: collapse;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

